.jumbotron{
    border-bottom: 1xpx solid #343a40;
    margin-bottom: 0 !important;
}
.firstmainphoto{  
    width: 350px;
}
.secondmainphoto{
    width: 350px;
}
footer{
    background-color: #e9ecef;
}